In [28]:
from sqlalchemy import create_engine
import pandas as pd

# Create engine using SQLAlchemy for both databases
engine_cm = create_engine('mssql+pyodbc://ABDALLAH\\MSSQLSERVER2/CustomerManagement?trusted_connection=yes&driver=SQL+Server')
engine_dwh = create_engine('mssql+pyodbc://ABDALLAH\\MSSQLSERVER2/CustomerManagementDWH?trusted_connection=yes&driver=SQL+Server')

def get_table_names(engine):
    """Fetch all table names using SQLAlchemy."""
    query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'"
    return pd.read_sql(query, engine)

def get_table_info(engine, table_name):
    """Get column information and row count for a specific table using SQLAlchemy."""
    columns_query = f"""
    SELECT COLUMN_NAME, DATA_TYPE 
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE TABLE_NAME = '{table_name}'
    """
    row_count_query = f"SELECT COUNT(*) FROM {table_name}"
    
    columns_info = pd.read_sql(columns_query, engine)
    try:
        row_count_info = pd.read_sql(row_count_query, engine)
        row_count_info.columns = ['RowCount']  # Rename the column after fetching
    except Exception as e:
        row_count_info = pd.DataFrame({'RowCount': [0]})
        print(f"Error fetching row count for {table_name}: {e}")

    return columns_info, row_count_info

# Fetch table information using SQLAlchemy
print("CustomerManagement Database Tables:")
cm_tables = get_table_names(engine_cm)
print(cm_tables)

print("\nCustomerManagementDWH Database Tables:")
dwh_tables = get_table_names(engine_dwh)
print(dwh_tables)

# Loop through all tables and get column and row count info
print("\nFetching table info for CustomerManagement database:")
for index, row in cm_tables.iterrows():
    table_name = row['TABLE_NAME']
    columns_info, row_count_info = get_table_info(engine_cm, table_name)
    print(f"\nColumns in {table_name}:")
    print(columns_info)
    print(f"Row count in {table_name}:")
    print(row_count_info)

print("\nFetching table info for CustomerManagementDWH database:")
for index, row in dwh_tables.iterrows():
    table_name = row['TABLE_NAME']
    columns_info, row_count_info = get_table_info(engine_dwh, table_name)
    print(f"\nColumns in {table_name}:")
    print(columns_info)
    print(f"Row count in {table_name}:")
    print(row_count_info)

CustomerManagement Database Tables:
                TABLE_NAME
0                   Brands
1                 Products
2                   Orders
3               OrderItems
4          CustomerReviews
5                Wishlists
6             ShoppingCart
7                 Payments
8   CustomerSupportTickets
9              sysdiagrams
10               Customers
11     CustomerPreferences
12              Categories

CustomerManagementDWH Database Tables:
      TABLE_NAME
0    Address_Dim
1  Customers_Dim
2       Date_Dim
3    Orders_Fact
4   Payments_Dim
5   Products_Dim

Fetching table info for CustomerManagement database:

Columns in Brands:
   COLUMN_NAME DATA_TYPE
0      BrandID       int
1    BrandName  nvarchar
2  Description  nvarchar
Row count in Brands:
   RowCount
0        15

Columns in Products:
     COLUMN_NAME DATA_TYPE
0      ProductID       int
1    ProductName  nvarchar
2     CategoryID       int
3        BrandID       int
4          Price   decimal
5  StockQuantity       int
6         Rating   decimal
7    Description  nvarchar
Row count in Products:
   RowCount
0       100

Columns in Orders:
       COLUMN_NAME DATA_TYPE
0          OrderID       int
1       CustomerID       int
2        OrderDate  datetime
3  ShippingAddress  nvarchar
4   BillingAddress  nvarchar
5       OrderTotal   decimal
6    PaymentMethod  nvarchar
7      OrderStatus  nvarchar
Row count in Orders:
   RowCount
0       100

Columns in OrderItems:
   COLUMN_NAME DATA_TYPE
0  OrderItemID       int
1      OrderID       int
2    ProductID       int
3     Quantity       int
4    UnitPrice   decimal
5   TotalPrice   decimal
Row count in OrderItems:
   RowCount
0       149

Columns in CustomerReviews:
  COLUMN_NAME DATA_TYPE
0    ReviewID       int
1  CustomerID       int
2   ProductID       int
3      Rating   decimal
4  ReviewText  nvarchar
5  ReviewDate  datetime
Row count in CustomerReviews:
   RowCount
0       150

Columns in Wishlists:
  COLUMN_NAME DATA_TYPE
0  WishlistID       int
1  CustomerID       int
2   ProductID       int
3   AddedDate  datetime
Row count in Wishlists:
   RowCount
0       100

Columns in ShoppingCart:
  COLUMN_NAME DATA_TYPE
0      CartID       int
1  CustomerID       int
2   ProductID       int
3    Quantity       int
4   DateAdded  datetime
Row count in ShoppingCart:
   RowCount
0       100

Columns in Payments:
     COLUMN_NAME DATA_TYPE
0      PaymentID       int
1        OrderID       int
2  PaymentMethod  nvarchar
3    PaymentDate  datetime
4         Amount   decimal
Row count in Payments:
   RowCount
0       150

Columns in CustomerSupportTickets:
    COLUMN_NAME DATA_TYPE
0      TicketID       int
1    CustomerID       int
2       OrderID       int
3     IssueType  nvarchar
4   Description  nvarchar
5        Status  nvarchar
6   CreatedDate  datetime
7  ResolvedDate  datetime
Row count in CustomerSupportTickets:
   RowCount
0       149

Columns in sysdiagrams:
    COLUMN_NAME  DATA_TYPE
0          name   nvarchar
1  principal_id        int
2    diagram_id        int
3       version        int
4    definition  varbinary
Row count in sysdiagrams:
   RowCount
0         1

Columns in Customers:
       COLUMN_NAME DATA_TYPE
0       CustomerID       int
1         FullName  nvarchar
2            Email  nvarchar
3      PhoneNumber  nvarchar
4  ShippingAddress  nvarchar
5   BillingAddress  nvarchar
6      DateOfBirth      date
7    LoyaltyPoints       int
8      Preferences  nvarchar
Row count in Customers:
   RowCount
0       200

Columns in CustomerPreferences:
               COLUMN_NAME DATA_TYPE
0               CustomerID       int
1      PreferredCategories  nvarchar
2          PreferredBrands  nvarchar
3  PreferredPaymentMethods  nvarchar
Row count in CustomerPreferences:
   RowCount
0       104

Columns in Categories:
    COLUMN_NAME DATA_TYPE
0    CategoryID       int
1  CategoryName  nvarchar
2   Description  nvarchar
Row count in Categories:
   RowCount
0        20

Fetching table info for CustomerManagementDWH database:

Columns in Address_Dim:
   COLUMN_NAME DATA_TYPE
0    AddressID       int
1  FullAddress  nvarchar
2         City  nvarchar
3        State  nvarchar
4      Country  nvarchar
5   PostalCode  nvarchar
Row count in Address_Dim:
   RowCount
0         0

Columns in Customers_Dim:
               COLUMN_NAME DATA_TYPE
0               CustomerID       int
1                 FullName  nvarchar
2                    Email  nvarchar
3              PhoneNumber  nvarchar
4              DateOfBirth      date
5            LoyaltyPoints       int
6      PreferredCategories  nvarchar
7          PreferredBrands  nvarchar
8  PreferredPaymentMethods  nvarchar
Row count in Customers_Dim:
   RowCount
0       200

Columns in Date_Dim:
  COLUMN_NAME DATA_TYPE
0      DateID       int
1        Date      date
2         Day       int
3       Month       int
4        Year       int
5     Quarter       int
6     Weekday  nvarchar
Row count in Date_Dim:
   RowCount
0         0

Columns in Orders_Fact:
          COLUMN_NAME DATA_TYPE
0             OrderID       int
1          CustomerID       int
2           ProductID       int
3         OrderDateID       int
4   ShippingAddressID       int
5    BillingAddressID       int
6           PaymentID       int
7          OrderTotal   decimal
8         OrderStatus  nvarchar
9            Quantity       int
10          UnitPrice   decimal
11           Discount   decimal
12         TotalPrice   decimal
Row count in Orders_Fact:
   RowCount
0         0

Columns in Payments_Dim:
     COLUMN_NAME DATA_TYPE
0      PaymentID       int
1  PaymentMethod  nvarchar
2    PaymentDate      date
3         Amount   decimal
Row count in Payments_Dim:
   RowCount
0       150

Columns in Products_Dim:
   COLUMN_NAME DATA_TYPE
0    ProductID       int
1  ProductName  nvarchar
2     Category  nvarchar
3        Brand  nvarchar
4        Price   decimal
5       Rating   decimal
Row count in Products_Dim:
   RowCount
0         0

In [13]:
## Data Profiling & Validation
##Step 1.1: Review the Database Schema

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Create SQLAlchemy engine for the CustomerManagement database
engine_cm = create_engine('mssql+pyodbc://ABDALLAH\\MSSQLSERVER2/CustomerManagement?trusted_connection=yes&driver=SQL+Server')

# Function to extract data from a table
def extract_table_data(engine, table_name):
    """Extract data from a given table."""
    query = f"SELECT * FROM {table_name}"
    return pd.read_sql(query, engine)

# Function to perform basic data profiling
def profile_table_data(df):
    """Perform basic data profiling on a DataFrame."""
    print(f"Profiling table: {df.name}")
    print(f"Shape of the table (rows, columns): {df.shape}")
    print("\nData Types:\n", df.dtypes)
    print("\nNull Values per column:\n", df.isnull().sum())
    print("\nDuplicated rows:", df.duplicated().sum())
    print("\nSummary statistics:\n", df.describe(include='all'))

# List of tables we want to profile from CustomerManagement database
tables_to_profile = ['Customers', 'Orders', 'Products']

# Loop through each table, extract the data, and profile it
for table_name in tables_to_profile:
    # Extract the data from each table
    df = extract_table_data(engine_cm, table_name)
    
    # Set the name attribute for profiling output
    df.name = table_name

    # Perform data profiling
    profile_table_data(df)

    # Optional: display first few rows to inspect
    print(f"\nFirst 5 rows of {table_name}:\n", df.head())
    print("\n" + "="*50 + "\n")

Profiling table: Customers
Shape of the table (rows, columns): (200, 9)

Data Types:
 CustomerID          int64
FullName           object
Email              object
PhoneNumber        object
ShippingAddress    object
BillingAddress     object
DateOfBirth        object
LoyaltyPoints       int64
Preferences        object
dtype: object

Null Values per column:
 CustomerID           0
FullName             0
Email                0
PhoneNumber          0
ShippingAddress      0
BillingAddress       0
DateOfBirth          0
LoyaltyPoints        0
Preferences        200
dtype: int64

Duplicated rows: 0

Summary statistics:
         CustomerID         FullName                     Email   PhoneNumber  \
count   200.000000              200                       200           200
unique         NaN              200                       200           200
top            NaN  Dr. Melody Clay  mirandadavid@example.org  739-638-3953
freq           NaN                1                         1             1
mean    114.500000              NaN                       NaN           NaN
std      57.879185              NaN                       NaN           NaN
min      15.000000              NaN                       NaN           NaN
25%      64.750000              NaN                       NaN           NaN
50%     114.500000              NaN                       NaN           NaN
75%     164.250000              NaN                       NaN           NaN
max     214.000000              NaN                       NaN           NaN

                                          ShippingAddress  \
count                                                 200
unique                                                200
top     9057 Haynes Parkway Suite 524\nPort Michaelton...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                           BillingAddress DateOfBirth  \
count                                                 200         200
unique                                                200         200
top     50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
freq                                                    1           1
mean                                                  NaN         NaN
std                                                   NaN         NaN
min                                                   NaN         NaN
25%                                                   NaN         NaN
50%                                                   NaN         NaN
75%                                                   NaN         NaN
max                                                   NaN         NaN

        LoyaltyPoints Preferences
count      200.000000           0
unique            NaN           0
top               NaN         NaN
freq              NaN         NaN
mean       407.650000         NaN
std        276.993165         NaN
min          2.000000         NaN
25%        193.000000         NaN
50%        335.000000         NaN
75%        544.500000         NaN
max        992.000000         NaN

First 5 rows of Customers:
    CustomerID         FullName                       Email      PhoneNumber  \
0          15  Dr. Melody Clay    mirandadavid@example.org     739-638-3953
1          16  Jennifer Miller         ubarber@example.net    (400)790-7347
2          17      Javier Hart  pettychristine@example.org  901.423.9751x74
3          18  William Richard         jburton@example.com  (896)506-7433x6
4          19  Benjamin Dennis      rodneywood@example.net  001-876-998-124

                                     ShippingAddress  \
0  9057 Haynes Parkway Suite 524\nPort Michaelton...
1       7447 Richardson Oval\nEast Michael, WV 51486
2          37613 Ashley Brooks\nNew Debbie, PR 61066
3        608 Martinez Rest\nClaytonchester, NC 53913
4    296 Justin Road Suite 098\nNew Autumn, NE 58405

                                      BillingAddress DateOfBirth  \
0  50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
1     3507 Steven Expressway\nNorth Samuel, NE 45470  1970-03-04
2            631 Brown Estates\nDarrenfort, VT 60095  1995-11-03
3  9683 Michael Mountains Suite 678\nReillyfurt, ...  1980-10-22
4  0741 Lindsay Lodge Suite 098\nNorth Austinton,...  1989-06-03

   LoyaltyPoints Preferences
0            351        None
1            482        None
2            335        None
3            187        None
4            316        None

==================================================

Profiling table: Orders
Shape of the table (rows, columns): (100, 8)

Data Types:
 OrderID                     int64
CustomerID                  int64
OrderDate          datetime64[ns]
ShippingAddress            object
BillingAddress             object
OrderTotal                float64
PaymentMethod              object
OrderStatus                object
dtype: object

Null Values per column:
 OrderID            0
CustomerID         0
OrderDate          0
ShippingAddress    0
BillingAddress     0
OrderTotal         0
PaymentMethod      0
OrderStatus        0
dtype: int64

Duplicated rows: 0

Summary statistics:
            OrderID  CustomerID            OrderDate  \
count   100.000000  100.000000                  100
unique         NaN         NaN                  NaN
top            NaN         NaN                  NaN
freq           NaN         NaN                  NaN
mean     51.500000   75.530000  2024-05-11 07:40:48
min       2.000000   15.000000  2024-01-02 00:00:00
25%      26.750000   42.500000  2024-03-13 12:00:00
50%      51.500000   72.000000  2024-05-08 12:00:00
75%      76.250000  101.500000  2024-07-23 00:00:00
max     101.000000  163.000000  2024-10-01 00:00:00
std      29.011492   38.956971                  NaN

                            ShippingAddress  \
count                                   100
unique                                  100
top     007 Mario Manor, Loristad, ME 97039
freq                                      1
mean                                    NaN
min                                     NaN
25%                                     NaN
50%                                     NaN
75%                                     NaN
max                                     NaN
std                                     NaN

                               BillingAddress  OrderTotal PaymentMethod  \
count                                     100  100.000000           100
unique                                    100         NaN             3
top     525 Scott Creek, Joshuastad, WY 19129         NaN        PayPal
freq                                        1         NaN            40
mean                                      NaN  284.305200           NaN
min                                       NaN   50.950000           NaN
25%                                       NaN  178.950000           NaN
50%                                       NaN  286.765000           NaN
75%                                       NaN  408.360000           NaN
max                                       NaN  498.570000           NaN
std                                       NaN  132.083533           NaN

       OrderStatus
count          100
unique           4
top      Cancelled
freq            29
mean           NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN
std            NaN

First 5 rows of Orders:
    OrderID  CustomerID  OrderDate  \
0        2          38 2024-09-29
1        3          16 2024-03-22
2        4         108 2024-07-19
3        5          77 2024-01-06
4        6          22 2024-03-17

                                     ShippingAddress  \
0                007 Mario Manor, Loristad, ME 97039
1      69997 Amy Loop Suite 496, Johnville, OR 97552
2  05289 Jennifer Club Apt. 590, Martinezport, AS...
3  52518 Barrera Plains Suite 818, West Steven, I...
4  5129 Rodriguez Manors Suite 201, Lake Elizabet...

                                      BillingAddress  OrderTotal  \
0              525 Scott Creek, Joshuastad, WY 19129      217.51
1    6168 Jennifer Motorway, South Suzanne, VT 70076      414.00
2    9511 Diaz Locks Suite 567, Tamarafort, MD 52036      101.97
3              6824 Amy Ville, Longchester, NC 97663      437.95
4  7674 Steele Village Suite 463, North Joseph, M...      309.25

   PaymentMethod OrderStatus
0         PayPal   Cancelled
1         PayPal     Shipped
2    Credit Card   Delivered
3  Bank Transfer   Cancelled
4  Bank Transfer   Cancelled

==================================================

Profiling table: Products
Shape of the table (rows, columns): (100, 8)

Data Types:
 ProductID          int64
ProductName       object
CategoryID         int64
BrandID            int64
Price            float64
StockQuantity      int64
Rating           float64
Description       object
dtype: object

Null Values per column:
 ProductID        0
ProductName      0
CategoryID       0
BrandID          0
Price            0
StockQuantity    0
Rating           0
Description      0
dtype: int64

Duplicated rows: 0

Summary statistics:
          ProductID ProductName  CategoryID     BrandID       Price  \
count   100.000000         100  100.000000  100.000000  100.000000
unique         NaN         100         NaN         NaN         NaN
top            NaN   Product 1         NaN         NaN         NaN
freq           NaN           1         NaN         NaN         NaN
mean     50.500000         NaN    5.790000    4.370000  287.531100
std      29.011492         NaN    2.648785    2.717898  295.916217
min       1.000000         NaN    1.000000    1.000000   10.930000
25%      25.750000         NaN    4.000000    2.000000   63.230000
50%      50.500000         NaN    6.000000    4.000000   97.120000
75%      75.250000         NaN    8.000000    6.000000  502.780000
max     100.000000         NaN   10.000000   10.000000  986.620000

        StockQuantity      Rating                           Description
count      100.000000  100.000000                                   100
unique            NaN         NaN                                   100
top               NaN         NaN  This is a description for Product 1.
freq              NaN         NaN                                     1
mean       284.880000    3.157900                                   NaN
std        307.160942    1.213969                                   NaN
min          1.000000    1.080000                                   NaN
25%         45.750000    2.150000                                   NaN
50%         91.000000    3.455000                                   NaN
75%        538.000000    4.112500                                   NaN
max        986.000000    5.000000                                   NaN

First 5 rows of Products:
    ProductID ProductName  CategoryID  BrandID  Price  StockQuantity  Rating  \
0          1   Product 1           9        4  26.07             59     4.0
1          2   Product 2           2        2  23.00             75     3.8
2          3   Product 3           7       10  60.05              7     2.5
3          4   Product 4           3        1  58.66             54     3.8
4          5   Product 5           5        1  92.61             33     4.8

                            Description
0  This is a description for Product 1.
1  This is a description for Product 2.
2  This is a description for Product 3.
3  This is a description for Product 4.
4  This is a description for Product 5.

==================================================

In [15]:
# Data Cleansing
def cleanse_data_customers(df):
    """Perform data cleansing on the Customers table."""
    
    # Handle 'Preferences' column - since it's entirely null, we can either drop it or fill it with a default value
    df_cleaned = df.copy()
    df_cleaned['Preferences'].fillna('No Preferences', inplace=True)  # Fill with a default string
    
    return df_cleaned

def cleanse_data_orders(df):
    """Perform data cleansing on the Orders table."""
    # Currently, no specific cleansing needed for Orders
    return df

def cleanse_data_products(df):
    """Perform data cleansing on the Products table."""
    
    # Ensure no negative values in Price and Rating
    df_cleaned = df.copy()
    df_cleaned['Price'] = df_cleaned['Price'].apply(lambda x: max(x, 0))  # Remove negative prices
    df_cleaned['Rating'] = df_cleaned['Rating'].apply(lambda x: max(min(x, 5), 0))  # Ensure Rating is between 0 and 5
    
    return df_cleaned

# Apply data cleansing to each table
tables_to_cleanse = {
    'Customers': cleanse_data_customers,
    'Orders': cleanse_data_orders,
    'Products': cleanse_data_products
}

# Loop through each table, cleanse it, and show summary after cleansing
for table_name, cleanse_function in tables_to_cleanse.items():
    df = extract_table_data(engine_cm, table_name)
    df_cleaned = cleanse_function(df)
    
    # Show the first 5 rows of cleaned data
    print(f"\nCleaned data for {table_name} (first 5 rows):")
    print(df_cleaned.head())
    print("\n" + "="*50 + "\n")

Cleaned data for Customers (first 5 rows):
   CustomerID         FullName                       Email      PhoneNumber  \
0          15  Dr. Melody Clay    mirandadavid@example.org     739-638-3953
1          16  Jennifer Miller         ubarber@example.net    (400)790-7347
2          17      Javier Hart  pettychristine@example.org  901.423.9751x74
3          18  William Richard         jburton@example.com  (896)506-7433x6
4          19  Benjamin Dennis      rodneywood@example.net  001-876-998-124

                                     ShippingAddress  \
0  9057 Haynes Parkway Suite 524\nPort Michaelton...
1       7447 Richardson Oval\nEast Michael, WV 51486
2          37613 Ashley Brooks\nNew Debbie, PR 61066
3        608 Martinez Rest\nClaytonchester, NC 53913
4    296 Justin Road Suite 098\nNew Autumn, NE 58405

                                      BillingAddress DateOfBirth  \
0  50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
1     3507 Steven Expressway\nNorth Samuel, NE 45470  1970-03-04
2            631 Brown Estates\nDarrenfort, VT 60095  1995-11-03
3  9683 Michael Mountains Suite 678\nReillyfurt, ...  1980-10-22
4  0741 Lindsay Lodge Suite 098\nNorth Austinton,...  1989-06-03

   LoyaltyPoints     Preferences
0            351  No Preferences
1            482  No Preferences
2            335  No Preferences
3            187  No Preferences
4            316  No Preferences

==================================================


Cleaned data for Orders (first 5 rows):
   OrderID  CustomerID  OrderDate  \
0        2          38 2024-09-29
1        3          16 2024-03-22
2        4         108 2024-07-19
3        5          77 2024-01-06
4        6          22 2024-03-17

                                     ShippingAddress  \
0                007 Mario Manor, Loristad, ME 97039
1      69997 Amy Loop Suite 496, Johnville, OR 97552
2  05289 Jennifer Club Apt. 590, Martinezport, AS...
3  52518 Barrera Plains Suite 818, West Steven, I...
4  5129 Rodriguez Manors Suite 201, Lake Elizabet...

                                      BillingAddress  OrderTotal  \
0              525 Scott Creek, Joshuastad, WY 19129      217.51
1    6168 Jennifer Motorway, South Suzanne, VT 70076      414.00
2    9511 Diaz Locks Suite 567, Tamarafort, MD 52036      101.97
3              6824 Amy Ville, Longchester, NC 97663      437.95
4  7674 Steele Village Suite 463, North Joseph, M...      309.25

   PaymentMethod OrderStatus
0         PayPal   Cancelled
1         PayPal     Shipped
2    Credit Card   Delivered
3  Bank Transfer   Cancelled
4  Bank Transfer   Cancelled

==================================================


Cleaned data for Products (first 5 rows):
   ProductID ProductName  CategoryID  BrandID  Price  StockQuantity  Rating  \
0          1   Product 1           9        4  26.07             59     4.0
1          2   Product 2           2        2  23.00             75     3.8
2          3   Product 3           7       10  60.05              7     2.5
3          4   Product 4           3        1  58.66             54     3.8
4          5   Product 5           5        1  92.61             33     4.8

                            Description
0  This is a description for Product 1.
1  This is a description for Product 2.
2  This is a description for Product 3.
3  This is a description for Product 4.
4  This is a description for Product 5.

==================================================

In [16]:
from datetime import datetime
import re

# Transformation functions
def transform_customers(df):
    """Transform Customers data to align with DWH schema."""
    df_transformed = df.copy()
    
    # Normalize PhoneNumber (remove special characters like (), -, and spaces)
    df_transformed['PhoneNumber'] = df_transformed['PhoneNumber'].apply(lambda x: re.sub(r'\D', '', x))
    
    # Ensure DateOfBirth is in YYYY-MM-DD format
    df_transformed['DateOfBirth'] = pd.to_datetime(df_transformed['DateOfBirth']).dt.strftime('%Y-%m-%d')
    
    return df_transformed

def transform_orders(df):
    """Transform Orders data to align with DWH schema."""
    df_transformed = df.copy()
    
    # Ensure OrderDate is in YYYY-MM-DD format
    df_transformed['OrderDate'] = pd.to_datetime(df_transformed['OrderDate']).dt.strftime('%Y-%m-%d')
    
    # Map PaymentMethod and OrderStatus to predefined IDs (example mapping)
    payment_method_map = {'PayPal': 1, 'Credit Card': 2, 'Bank Transfer': 3}
    order_status_map = {'Shipped': 1, 'Delivered': 2, 'Cancelled': 3, 'Pending': 4}
    
    df_transformed['PaymentMethod'] = df_transformed['PaymentMethod'].map(payment_method_map)
    df_transformed['OrderStatus'] = df_transformed['OrderStatus'].map(order_status_map)
    
    return df_transformed

def transform_products(df):
    """Transform Products data to align with DWH schema."""
    df_transformed = df.copy()
    
    # Ensure Price and Rating have valid ranges
    df_transformed['Price'] = df_transformed['Price'].apply(lambda x: max(x, 0))  # Ensure Price >= 0
    df_transformed['Rating'] = df_transformed['Rating'].apply(lambda x: max(min(x, 5), 0))  # Ensure Rating is between 0 and 5
    
    return df_transformed

# Apply transformation to each table
tables_to_transform = {
    'Customers': transform_customers,
    'Orders': transform_orders,
    'Products': transform_products
}

# Loop through each table, transform it, and show summary after transformation
for table_name, transform_function in tables_to_transform.items():
    df = extract_table_data(engine_cm, table_name)
    df_transformed = transform_function(df)
    
    # Show the first 5 rows of transformed data
    print(f"\nTransformed data for {table_name} (first 5 rows):")
    print(df_transformed.head())
    print("\n" + "="*50 + "\n")

Transformed data for Customers (first 5 rows):
   CustomerID         FullName                       Email   PhoneNumber  \
0          15  Dr. Melody Clay    mirandadavid@example.org    7396383953
1          16  Jennifer Miller         ubarber@example.net    4007907347
2          17      Javier Hart  pettychristine@example.org  901423975174
3          18  William Richard         jburton@example.com   89650674336
4          19  Benjamin Dennis      rodneywood@example.net  001876998124

                                     ShippingAddress  \
0  9057 Haynes Parkway Suite 524\nPort Michaelton...
1       7447 Richardson Oval\nEast Michael, WV 51486
2          37613 Ashley Brooks\nNew Debbie, PR 61066
3        608 Martinez Rest\nClaytonchester, NC 53913
4    296 Justin Road Suite 098\nNew Autumn, NE 58405

                                      BillingAddress DateOfBirth  \
0  50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
1     3507 Steven Expressway\nNorth Samuel, NE 45470  1970-03-04
2            631 Brown Estates\nDarrenfort, VT 60095  1995-11-03
3  9683 Michael Mountains Suite 678\nReillyfurt, ...  1980-10-22
4  0741 Lindsay Lodge Suite 098\nNorth Austinton,...  1989-06-03

   LoyaltyPoints Preferences
0            351        None
1            482        None
2            335        None
3            187        None
4            316        None

==================================================


Transformed data for Orders (first 5 rows):
   OrderID  CustomerID   OrderDate  \
0        2          38  2024-09-29
1        3          16  2024-03-22
2        4         108  2024-07-19
3        5          77  2024-01-06
4        6          22  2024-03-17

                                     ShippingAddress  \
0                007 Mario Manor, Loristad, ME 97039
1      69997 Amy Loop Suite 496, Johnville, OR 97552
2  05289 Jennifer Club Apt. 590, Martinezport, AS...
3  52518 Barrera Plains Suite 818, West Steven, I...
4  5129 Rodriguez Manors Suite 201, Lake Elizabet...

                                      BillingAddress  OrderTotal  \
0              525 Scott Creek, Joshuastad, WY 19129      217.51
1    6168 Jennifer Motorway, South Suzanne, VT 70076      414.00
2    9511 Diaz Locks Suite 567, Tamarafort, MD 52036      101.97
3              6824 Amy Ville, Longchester, NC 97663      437.95
4  7674 Steele Village Suite 463, North Joseph, M...      309.25

   PaymentMethod  OrderStatus
0              1            3
1              1            1
2              2            2
3              3            3
4              3            3

==================================================


Transformed data for Products (first 5 rows):
   ProductID ProductName  CategoryID  BrandID  Price  StockQuantity  Rating  \
0          1   Product 1           9        4  26.07             59     4.0
1          2   Product 2           2        2  23.00             75     3.8
2          3   Product 3           7       10  60.05              7     2.5
3          4   Product 4           3        1  58.66             54     3.8
4          5   Product 5           5        1  92.61             33     4.8

                            Description
0  This is a description for Product 1.
1  This is a description for Product 2.
2  This is a description for Product 3.
3  This is a description for Product 4.
4  This is a description for Product 5.

==================================================

In [17]:
import re
import hashlib

def additional_transformations(df_customers, df_orders, df_products):
    # Normalize Email to lowercase
    df_customers['Email'] = df_customers['Email'].str.lower()
    
    # Capitalize first letter of each word in FullName
    df_customers['FullName'] = df_customers['FullName'].str.title()

    # Trim whitespace from text columns
    df_customers = df_customers.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    df_orders = df_orders.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    df_products = df_products.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    
    # Validate Dates (check for future dates in DateOfBirth and OrderDate)
    df_customers['DateOfBirth'] = pd.to_datetime(df_customers['DateOfBirth'])
    df_orders['OrderDate'] = pd.to_datetime(df_orders['OrderDate'])
    
    today = pd.to_datetime("today")
    df_customers.loc[df_customers['DateOfBirth'] > today, 'DateOfBirth'] = None
    df_orders.loc[df_orders['OrderDate'] > today, 'OrderDate'] = None
    
    # Ensure LoyaltyPoints are non-negative
    df_customers['LoyaltyPoints'] = df_customers['LoyaltyPoints'].apply(lambda x: max(x, 0))

    # Generate hashed Email for anonymization
    df_customers['EmailHash'] = df_customers['Email'].apply(lambda x: hashlib.sha256(x.encode()).hexdigest())
    
    # Verify Foreign Key Integrity (assuming you have foreign key reference tables for CategoryID and BrandID)
    valid_category_ids = set(df_products['CategoryID'].unique())  # Assume you have a list of valid category IDs
    valid_brand_ids = set(df_products['BrandID'].unique())
    
    df_products = df_products[df_products['CategoryID'].isin(valid_category_ids)]
    df_products = df_products[df_products['BrandID'].isin(valid_brand_ids)]
    
    return df_customers, df_orders, df_products

# Applying additional transformations
df_customers_transformed, df_orders_transformed, df_products_transformed = additional_transformations(
    df_customers, df_orders, df_products)

# Display transformed data
print("Further Transformed Customers (first 5 rows):")
print(df_customers_transformed.head())

print("\nFurther Transformed Orders (first 5 rows):")
print(df_orders_transformed.head())

print("\nFurther Transformed Products (first 5 rows):")
print(df_products_transformed.head())

Further Transformed Customers (first 5 rows):
   CustomerID         FullName                       Email      PhoneNumber  \
0          15  Dr. Melody Clay    mirandadavid@example.org     739-638-3953
1          16  Jennifer Miller         ubarber@example.net    (400)790-7347
2          17      Javier Hart  pettychristine@example.org  901.423.9751x74
3          18  William Richard         jburton@example.com  (896)506-7433x6
4          19  Benjamin Dennis      rodneywood@example.net  001-876-998-124

                                     ShippingAddress  \
0  9057 Haynes Parkway Suite 524\nPort Michaelton...
1       7447 Richardson Oval\nEast Michael, WV 51486
2          37613 Ashley Brooks\nNew Debbie, PR 61066
3        608 Martinez Rest\nClaytonchester, NC 53913
4    296 Justin Road Suite 098\nNew Autumn, NE 58405

                                      BillingAddress DateOfBirth  \
0  50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
1     3507 Steven Expressway\nNorth Samuel, NE 45470  1970-03-04
2            631 Brown Estates\nDarrenfort, VT 60095  1995-11-03
3  9683 Michael Mountains Suite 678\nReillyfurt, ...  1980-10-22
4  0741 Lindsay Lodge Suite 098\nNorth Austinton,...  1989-06-03

   LoyaltyPoints Preferences  \
0            351        None
1            482        None
2            335        None
3            187        None
4            316        None

                                           EmailHash
0  5483485b18edbd149c04d379adc0f0813650f95a1be917...
1  3388e91e8e02de5b71474cadb6d765068cc24c6fbe23d0...
2  925d86f97461acb571d3ebd793e3a15ae3f2ffe5b92c03...
3  8a91117651db567b9d37573c96fb9fd968b6df44f77c4e...
4  ca580c110bf9040ba2869ca16a9937c257b3693a8e35fe...

Further Transformed Orders (first 5 rows):
   OrderID  CustomerID  OrderDate  \
0        2          38 2024-09-29
1        3          16 2024-03-22
2        4         108 2024-07-19
3        5          77 2024-01-06
4        6          22 2024-03-17

                                     ShippingAddress  \
0                007 Mario Manor, Loristad, ME 97039
1      69997 Amy Loop Suite 496, Johnville, OR 97552
2  05289 Jennifer Club Apt. 590, Martinezport, AS...
3  52518 Barrera Plains Suite 818, West Steven, I...
4  5129 Rodriguez Manors Suite 201, Lake Elizabet...

                                      BillingAddress  OrderTotal  \
0              525 Scott Creek, Joshuastad, WY 19129      217.51
1    6168 Jennifer Motorway, South Suzanne, VT 70076      414.00
2    9511 Diaz Locks Suite 567, Tamarafort, MD 52036      101.97
3              6824 Amy Ville, Longchester, NC 97663      437.95
4  7674 Steele Village Suite 463, North Joseph, M...      309.25

   PaymentMethod OrderStatus
0         PayPal   Cancelled
1         PayPal     Shipped
2    Credit Card   Delivered
3  Bank Transfer   Cancelled
4  Bank Transfer   Cancelled

Further Transformed Products (first 5 rows):
   ProductID ProductName  CategoryID  BrandID  Price  StockQuantity  Rating  \
0          1   Product 1           9        4  26.07             59     4.0
1          2   Product 2           2        2  23.00             75     3.8
2          3   Product 3           7       10  60.05              7     2.5
3          4   Product 4           3        1  58.66             54     3.8
4          5   Product 5           5        1  92.61             33     4.8

                            Description
0  This is a description for Product 1.
1  This is a description for Product 2.
2  This is a description for Product 3.
3  This is a description for Product 4.
4  This is a description for Product 5.

In [18]:
import pandas as pd
import numpy as np
from datetime import datetime

# Sample function for customers transformations
def transform_customers(df):
    # Remove duplicates based on Email
    df.drop_duplicates(subset='Email', keep='first', inplace=True)

    # Calculate Age
    df['Age'] = (datetime.now() - pd.to_datetime(df['DateOfBirth'])).dt.days // 365

    # Categorize Loyalty Points
    bins = [0, 199, 399, 599, np.inf]
    labels = ['Bronze', 'Silver', 'Gold', 'Platinum']
    df['LoyaltyCategory'] = pd.cut(df['LoyaltyPoints'], bins=bins, labels=labels, right=False)

    # Standardize Address
    df['ShippingAddress'] = df['ShippingAddress'].str.replace(r'\n', ', ')  # Replace newlines with commas

    # Split FullName into FirstName and LastName
    df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', n=1, expand=True)

    return df

# Sample function for orders transformations
def transform_orders(df):
    # Categorize Order Status
    status_mapping = {1: 'Pending', 2: 'Completed', 3: 'Cancelled'}
    df['OrderStatus'] = df['OrderStatus'].map(status_mapping)

    # Calculate Order Age
    df['OrderAge'] = (datetime.now() - pd.to_datetime(df['OrderDate'])).dt.days

    # Total Items Count (assuming you have an order items DataFrame)
    # df['TotalItemsCount'] = df_items.groupby('OrderID')['Quantity'].sum().reindex(df['OrderID']).fillna(0)

    return df

# Sample function for products transformations
def transform_products(df):
    # Price Ranges
    bins = [0, 20, 50, 100, np.inf]
    labels = ['Low', 'Medium', 'High', 'Luxury']
    df['PriceCategory'] = pd.cut(df['Price'], bins=bins, labels=labels, right=False)

    # Stock Alerts
    df['LowStock'] = df['StockQuantity'] < 10  # Flag products with low stock

    # Average Rating (assuming you have ratings data)
    # df['AverageRating'] = df_reviews.groupby('ProductID')['Rating'].mean().reindex(df['ProductID']).fillna(0)

    return df

# Apply transformations to each table
df_customers_transformed = transform_customers(df_customers)
df_orders_transformed = transform_orders(df_orders)
df_products_transformed = transform_products(df_products)

# Display transformed data
print("Further Transformed Customers (first 5 rows):")
print(df_customers_transformed.head())

print("\nFurther Transformed Orders (first 5 rows):")
print(df_orders_transformed.head())

print("\nFurther Transformed Products (first 5 rows):")
print(df_products_transformed.head())

Further Transformed Customers (first 5 rows):
   CustomerID         FullName                       Email      PhoneNumber  \
0          15  Dr. Melody Clay    mirandadavid@example.org     739-638-3953
1          16  Jennifer Miller         ubarber@example.net    (400)790-7347
2          17      Javier Hart  pettychristine@example.org  901.423.9751x74
3          18  William Richard         jburton@example.com  (896)506-7433x6
4          19  Benjamin Dennis      rodneywood@example.net  001-876-998-124

                                     ShippingAddress  \
0  9057 Haynes Parkway Suite 524\nPort Michaelton...
1       7447 Richardson Oval\nEast Michael, WV 51486
2          37613 Ashley Brooks\nNew Debbie, PR 61066
3        608 Martinez Rest\nClaytonchester, NC 53913
4    296 Justin Road Suite 098\nNew Autumn, NE 58405

                                      BillingAddress DateOfBirth  \
0  50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
1     3507 Steven Expressway\nNorth Samuel, NE 45470  1970-03-04
2            631 Brown Estates\nDarrenfort, VT 60095  1995-11-03
3  9683 Michael Mountains Suite 678\nReillyfurt, ...  1980-10-22
4  0741 Lindsay Lodge Suite 098\nNorth Austinton,...  1989-06-03

   LoyaltyPoints Preferences  Age LoyaltyCategory FirstName     LastName
0            351        None   29          Silver       Dr.  Melody Clay
1            482        None   54            Gold  Jennifer       Miller
2            335        None   28          Silver    Javier         Hart
3            187        None   44          Bronze   William      Richard
4            316        None   35          Silver  Benjamin       Dennis

Further Transformed Orders (first 5 rows):
   OrderID  CustomerID  OrderDate  \
0        2          38 2024-09-29
1        3          16 2024-03-22
2        4         108 2024-07-19
3        5          77 2024-01-06
4        6          22 2024-03-17

                                     ShippingAddress  \
0                007 Mario Manor, Loristad, ME 97039
1      69997 Amy Loop Suite 496, Johnville, OR 97552
2  05289 Jennifer Club Apt. 590, Martinezport, AS...
3  52518 Barrera Plains Suite 818, West Steven, I...
4  5129 Rodriguez Manors Suite 201, Lake Elizabet...

                                      BillingAddress  OrderTotal  \
0              525 Scott Creek, Joshuastad, WY 19129      217.51
1    6168 Jennifer Motorway, South Suzanne, VT 70076      414.00
2    9511 Diaz Locks Suite 567, Tamarafort, MD 52036      101.97
3              6824 Amy Ville, Longchester, NC 97663      437.95
4  7674 Steele Village Suite 463, North Joseph, M...      309.25

   PaymentMethod OrderStatus  OrderAge
0         PayPal         NaN        16
1         PayPal         NaN       207
2    Credit Card         NaN        88
3  Bank Transfer         NaN       283
4  Bank Transfer         NaN       212

Further Transformed Products (first 5 rows):
   ProductID ProductName  CategoryID  BrandID  Price  StockQuantity  Rating  \
0          1   Product 1           9        4  26.07             59     4.0
1          2   Product 2           2        2  23.00             75     3.8
2          3   Product 3           7       10  60.05              7     2.5
3          4   Product 4           3        1  58.66             54     3.8
4          5   Product 5           5        1  92.61             33     4.8

                            Description PriceCategory  LowStock
0  This is a description for Product 1.        Medium     False
1  This is a description for Product 2.        Medium     False
2  This is a description for Product 3.          High      True
3  This is a description for Product 4.          High     False
4  This is a description for Product 5.          High     False

In [20]:
import pandas as pd

# Assuming df_customers, df_orders, and df_products are your dataframes

# Customers Transformations
df_customers['EmailDomain'] = df_customers['Email'].str.split('@').str[1]
df_customers['PhoneNumber'] = df_customers['PhoneNumber'].replace(r'\D+', '', regex=True).str.replace(r'(\d{3})(\d{3})(\d{4})', r'(\1) \2-\3')
df_customers['CustomerSegment'] = pd.cut(df_customers['LoyaltyPoints'], bins=[0, 200, 400, float('inf')], labels=['Regular', 'Valued', 'Premium'])

# Orders Transformations
df_orders['OrderDate'] = pd.to_datetime(df_orders['OrderDate'])
df_orders['Year'] = df_orders['OrderDate'].dt.year
df_orders['Month'] = df_orders['OrderDate'].dt.month
df_orders['Day'] = df_orders['OrderDate'].dt.day
df_orders['OrderFrequency'] = df_orders.groupby('CustomerID')['OrderID'].transform('count')

# Products Transformations
# Example for a hypothetical currency normalization (just a placeholder)
df_products['Price'] = df_products['Price'].apply(lambda x: round(x * 1.1, 2))  # Adjusting prices by a factor for demo
df_products['BrandPopularity'] = df_products['BrandID'].map(df_products['BrandID'].value_counts())
df_products['LifecycleStage'] = pd.cut(df_products['StockQuantity'], bins=[0, 10, 50, float('inf')], labels=['Discontinued', 'In Stock', 'New'])

# Example of discount flag based on price
average_price = df_products['Price'].mean()
df_products['Discounted'] = df_products['Price'] < average_price

In [21]:
# Display the first few rows of each transformed DataFrame

# For Customers
print("Transformed Customers Data:")
print(df_customers.head())  # Display the first 5 rows of the transformed customers DataFrame

# For Orders
print("\nTransformed Orders Data:")
print(df_orders.head())  # Display the first 5 rows of the transformed orders DataFrame

# For Products
print("\nTransformed Products Data:")
print(df_products.head())  # Display the first 5 rows of the transformed products DataFrame

Transformed Customers Data:
   CustomerID         FullName                       Email   PhoneNumber  \
0          15  Dr. Melody Clay    mirandadavid@example.org    7396383953
1          16  Jennifer Miller         ubarber@example.net    4007907347
2          17      Javier Hart  pettychristine@example.org  901423975174
3          18  William Richard         jburton@example.com   89650674336
4          19  Benjamin Dennis      rodneywood@example.net  001876998124

                                     ShippingAddress  \
0  9057 Haynes Parkway Suite 524\nPort Michaelton...
1       7447 Richardson Oval\nEast Michael, WV 51486
2          37613 Ashley Brooks\nNew Debbie, PR 61066
3        608 Martinez Rest\nClaytonchester, NC 53913
4    296 Justin Road Suite 098\nNew Autumn, NE 58405

                                      BillingAddress DateOfBirth  \
0  50563 Collins Cape Apt. 617\nSouth Angelaland,...  1995-04-22
1     3507 Steven Expressway\nNorth Samuel, NE 45470  1970-03-04
2            631 Brown Estates\nDarrenfort, VT 60095  1995-11-03
3  9683 Michael Mountains Suite 678\nReillyfurt, ...  1980-10-22
4  0741 Lindsay Lodge Suite 098\nNorth Austinton,...  1989-06-03

   LoyaltyPoints Preferences  Age LoyaltyCategory FirstName     LastName  \
0            351        None   29          Silver       Dr.  Melody Clay
1            482        None   54            Gold  Jennifer       Miller
2            335        None   28          Silver    Javier         Hart
3            187        None   44          Bronze   William      Richard
4            316        None   35          Silver  Benjamin       Dennis

   EmailDomain CustomerSegment
0  example.org          Valued
1  example.net         Premium
2  example.org          Valued
3  example.com         Regular
4  example.net          Valued

Transformed Orders Data:
   OrderID  CustomerID  OrderDate  \
0        2          38 2024-09-29
1        3          16 2024-03-22
2        4         108 2024-07-19
3        5          77 2024-01-06
4        6          22 2024-03-17

                                     ShippingAddress  \
0                007 Mario Manor, Loristad, ME 97039
1      69997 Amy Loop Suite 496, Johnville, OR 97552
2  05289 Jennifer Club Apt. 590, Martinezport, AS...
3  52518 Barrera Plains Suite 818, West Steven, I...
4  5129 Rodriguez Manors Suite 201, Lake Elizabet...

                                      BillingAddress  OrderTotal  \
0              525 Scott Creek, Joshuastad, WY 19129      217.51
1    6168 Jennifer Motorway, South Suzanne, VT 70076      414.00
2    9511 Diaz Locks Suite 567, Tamarafort, MD 52036      101.97
3              6824 Amy Ville, Longchester, NC 97663      437.95
4  7674 Steele Village Suite 463, North Joseph, M...      309.25

   PaymentMethod OrderStatus  OrderAge  Year  Month  Day  OrderFrequency
0         PayPal         NaN        16  2024      9   29               2
1         PayPal         NaN       207  2024      3   22               1
2    Credit Card         NaN        88  2024      7   19               1
3  Bank Transfer         NaN       283  2024      1    6               2
4  Bank Transfer         NaN       212  2024      3   17               1

Transformed Products Data:
   ProductID ProductName  CategoryID  BrandID   Price  StockQuantity  Rating  \
0          1   Product 1           9        4   31.55             59     4.0
1          2   Product 2           2        2   27.83             75     3.8
2          3   Product 3           7       10   72.67              7     2.5
3          4   Product 4           3        1   70.98             54     3.8
4          5   Product 5           5        1  112.06             33     4.8

                            Description PriceCategory  LowStock  \
0  This is a description for Product 1.        Medium     False
1  This is a description for Product 2.        Medium     False
2  This is a description for Product 3.          High      True
3  This is a description for Product 4.          High     False
4  This is a description for Product 5.          High     False

   BrandPopularity LifecycleStage  Discounted
0               18            New        True
1               17            New        True
2                7   Discontinued        True
3               14            New        True
4               14       In Stock        True

In [22]:
from sqlalchemy import create_engine

# Create SQLAlchemy engine for the CustomerManagementDWH database
engine_dwh = create_engine('mssql+pyodbc://ABDALLAH\\MSSQLSERVER2/CustomerManagementDWH?trusted_connection=yes&driver=SQL+Server')

In [24]:
print(df_customers_transformed.dtypes)

CustomerID            int64
FullName             object
Email                object
PhoneNumber          object
ShippingAddress      object
BillingAddress       object
DateOfBirth          object
LoyaltyPoints         int64
Preferences          object
Age                   int64
LoyaltyCategory    category
FirstName            object
LastName             object
EmailDomain          object
CustomerSegment    category
dtype: object

In [25]:
from sqlalchemy.types import Integer, String, DateTime

dtype_dict = {
    'CustomerID': Integer,
    'FullName': String(255),  # Define a maximum length
    'Email': String(255),
    'PhoneNumber': String(20),  # Adjust as needed for phone numbers
    'ShippingAddress': String(255),
    'BillingAddress': String(255),
    'DateOfBirth': DateTime,  # Change to datetime
    'LoyaltyPoints': Integer,
    'Preferences': String(255),  # Adjust if needed
    'Age': Integer,
    'LoyaltyCategory': String(50),  # Convert category to string
    'FirstName': String(100),  # Adjust length as needed
    'LastName': String(100),
    'EmailDomain': String(100),
    'CustomerSegment': String(50),  # Convert category to string
}

# Convert DateOfBirth to datetime if its not already
df_customers_transformed['DateOfBirth'] = pd.to_datetime(df_customers_transformed['DateOfBirth'], errors='coerce')

# Check for any invalid date conversions
print(df_customers_transformed['DateOfBirth'].isnull().sum(), "invalid DateOfBirth entries")

# Load Customers data into DWH
df_customers_transformed.to_sql('Customers', con=engine_dwh, if_exists='replace', index=False, dtype=dtype_dict)

0 invalid DateOfBirth entries

DBAPIError: (pyodbc.Error) ('HY104', '[HY104] [Microsoft][ODBC SQL Server Driver]Invalid precision value (0) (SQLBindParameter)')
[SQL: SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))]
[parameters: ('BASE TABLE', 'VIEW', 'Customers', 'dbo')]
(Background on this error at: https://sqlalche.me/e/20/dbapi)

In [29]:
def fetch_table_info(engine, db_name):
    query = f"""
    SELECT 
        t.name AS TABLE_NAME, 
        SUM(p.rows) AS RowCount
    FROM 
        sys.tables t
        INNER JOIN sys.partitions p ON t.object_id = p.object_id
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
    WHERE 
        p.index_id IN (0, 1)
    GROUP BY 
        t.name
    ORDER BY 
        t.name;
    """
    table_info = pd.read_sql(query, engine)
    print(f"Tables in {db_name} Database:")
    print(table_info)

# Fetching table information for both databases
fetch_table_info(engine_cm, 'CustomerManagement')
fetch_table_info(engine_dwh, 'CustomerManagementDWH')

DBAPIError: (pyodbc.Error) ('01000', '[01000] [Microsoft][ODBC SQL Server Driver][DBMSLPCN]ConnectionWrite (WrapperWrite()). (233) (SQLExecDirectW); [01000] [Microsoft][ODBC SQL Server Driver][DBMSLPCN]General network error. Check your network documentation. (11)')
[SQL:
    SELECT
        t.name AS TABLE_NAME,
        SUM(p.rows) AS RowCount
    FROM
        sys.tables t
        INNER JOIN sys.partitions p ON t.object_id = p.object_id
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
    WHERE
        p.index_id IN (0, 1)
    GROUP BY
        t.name
    ORDER BY
        t.name;
    ]
(Background on this error at: https://sqlalche.me/e/20/dbapi)